APP_HOST="localhost"
APP_PORT=8000

DATABASE_URL="mysql://johndoe:randompassword@localhost:5432/mydb"

# Tipo de banco de dados (ex.: mysql, postgres, sqlite, etc.)
DATABASE_TYPE="mysql"

# Configurações do banco de dados
DATABASE_HOST="localhost"
DATABASE_PORT="3306"
DATABASE_USER="johndoe"
DATABASE_PASSWORD="randompassword"
DATABASE_NAME="mydb"

# Configuração JWT
JWT_SECRET="DO NOT USE THIS VALUE. INSTEAD, CREATE A COMPLEX SECRET AND KEEP IT SAFE OUTSIDE OF THE SOURCE CODE."
JWT_REFRESH_SECRET="DO NOT USE THIS VALUE. INSTEAD, CREATE A COMPLEX SECRET AND KEEP IT SAFE OUTSIDE OF THE SOURCE CODE."